<title>TDTU | Homepage</title>
<!-- top -->
<div class="full_bg">
    <div class="slider_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- carousel code -->
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <!-- first slide -->
                            <div class="carousel-item active">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Ton Duc Thang University
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More
                                                        <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="images/sport-event/1.jpeg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- second slide -->
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Ton Duc Thang University
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More
                                                        <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="images/sport-event/2.jpeg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- third slide-->
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Ton Duc Thang University
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More
                                                        <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="images/sport-event/3.jpeg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- controls -->
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- our class -->
<div class="class">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Our Sport Events</h2>
                    <p>Sports Festival is a traditional activity of the Faculty of Information Technology with a variety
                        of competition contents</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center">
                    <i><img src="images/class1.png" alt="#" /></i>
                    <h3>Football</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alterationThere are many variations </p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box blue text_align_center">
                    <i><img src="images/class2.png" alt="#" /></i>
                    <h3>Jogging</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alterationThere are many variations </p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center">
                    <i><img src="images/class3.png" alt="#" /></i>
                    <h3>Jumping</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alterationThere are many variations </p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end our class -->
<!-- about -->
<div class="about">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>About <br>IT Sport Events <br></h2>
                    <p>💪 The activity "Sports challenge - happy and healthy together" was organized for students to
                        explore a dynamic school year with active sports activities. At the same time, it provides
                        health training opportunities for students of the Faculty of Information Technology, Ton Duc
                        Thang University.
                    </p>
                    <p>
                        👉 Hurry up and register to participate now🙆
                    </p>
                    <div class="link_btn">
                        <a class="read_more" href="/about">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img text_align_center">
                    <figure><img src="images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->


<!-- testimonial -->
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlepage text_align_center">
                    <h2>Testimonial</h2>
                </div>
            </div>
        </div>
        <!-- start slider section -->
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p> humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box  white_bg text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p> humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly
                                                    believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonial -->