<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {{!-- icon --}}
   <link rel="icon" href="/images/logo/logo.png" type="image/x-icon">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/css/responsive.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <div class="header">
      <div class="container-fluid">
         <div class="row d_flex">
            <div class=" col-md-2 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                        <a href="/"><img src="/images/logo/logo.jpeg" alt="#" /></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 col-sm-12">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                     aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/event">Event</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
            <div class="col-md-2">
               <ul class="email text_align_right">
                  <div class="drop-down">
                     <li class="d_none"><a href="#" class="dropdown-btn"><i class="fa fa-user"
                              aria-hidden="true"></i></a></li>
                     <ul class="dropdown-menu">
                        <li>Log out</li>
                     </ul>
                  </div>

                  <div class="dropdown">
                     <li class="d_none"> <a href="Javascript:void(0)" class="dropdown-btn"><i class="fa fa-globe"
                              style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                     <ul class="dropdown-menu">
                        <li>English</li>
                        <li>Vietnamese</li>
                     </ul>
                  </div>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- end header -->
   {{{body}}}

   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4 ">
                  <div class="infoma">
                     <h3>Contact Us</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 19 Nguyen Huu Tho, Tan Phong Ward,
                           District 7, City. Ho Chi Minh.
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>Call (028) 37755046</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)">
                              it@tdtu.edu.vn</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="row border_left">
                     <div class="col-md-12">
                        <div class="infoma">
                           <h3>Newsletter</h3>
                           <form class="form_subscri">
                              <div class="row">
                                 <div class="col-md-12">
                                 </div>
                                 <div class="col-md-4">
                                    <input class="newsl" placeholder="Enter your email" type="text"
                                       name="Enter your email">
                                 </div>
                                 <div class="col-md-4">
                                    <input class="newsl" placeholder="Enter your email" type="text"
                                       name="Enter your email">
                                 </div>
                                 <div class="col-md-4">
                                    <button class="subsci_btn">subscribe</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="infoma">
                           <h3>Useful Link</h3>
                           <ul class="fullink">
                              <li><a href="/">Home</a></li>
                              <li><a href="/about">About</a></li>
                              <li><a href="/event">Event</a></li>
                              <li><a href="/contact-us">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="infoma text_align_left">
                           <ul class="social_icon">
                              <li><a href="https://www.facebook.com/it.tdtu.edu.vn"><i class="fa fa-facebook"
                                       aria-hidden="true"></i></a></li>
                              <li><a href="https://it.tdtu.edu.vn/"><i class="fa fa-globe" aria-hidden="true"></i></a>
                              </li>
                              <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© Copyright 2024
                        Faculty of Information Technology, Ton Duc Thang University</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <!-- sidebar -->
   <script src="js/custom.js"></script>
</body>
<script>
   document.addEventListener("DOMContentLoaded", function () {
      var dropdownBtns = document.querySelectorAll(".dropdown-btn");
      var dropdownMenus = document.querySelectorAll(".dropdown-menu");

      dropdownBtns.forEach(function (dropdownBtn, index) {
         dropdownBtn.addEventListener("click", function () {
            dropdownMenus[index].style.display = dropdownMenus[index].style.display === "block" ? "none" : "block";
         });
      });

      document.addEventListener("click", function (event) {
         dropdownBtns.forEach(function (dropdownBtn, index) {
            if (!dropdownBtn.contains(event.target)) {
               dropdownMenus[index].style.display = "none";
            }
         });
      });
   });
</script>

</html>